.auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865f2;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
    background-color: #36393f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    h1 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    p {
        font-size: 1rem;
        color: #b9bbbe;
    }
}

.auth-form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group {
    text-align: left;

    label {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        color: #b9bbbe;
    }

    input {
        width: 100%;
        padding: 0.8rem;
        border: none;
        outline: none;
        border-radius: 4px;
        font-size: 1rem;
        color: #ffffff;
        background-color: #202225;

        &::placeholder {
            color: #72767d;
        }
    }
}

.auth-button {
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5865f2;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #4752c4;
    }
}

.auth-footer {
    margin-top: 1rem;
    text-align: left;

    a {
        text-decoration: none;
        color: #5865f2;

        &:hover {
            text-decoration: underline;
        }
    }
}

.forgot-password {
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    color: #5865f2;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}