:root {
    --color-bg-app: #171717;

    ::selection {
        background-color: #404040;
    }
}

html {
    background-color: var(--color-bg-app);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}