:root {
    --color-bg-app: #5865f2;
}

html {
    background-color: var(--color-bg-app);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}